@import "utils.css";

.outer-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  background-color: #00274d;
  color: white;
}

.inner-container {
  display: flex;
  width: calc(100% - 12.5rem);
  background-color: white;
  border-radius: 0.75rem;
  padding: 1.25rem;
  margin-right: 1.25rem;
  color: black;
  height: calc(100vh - 2.5rem);
  margin-left: auto;
  box-sizing: border-box;
}

.left-section {
  display: flex;
  flex: 1;
  gap: 1.25rem;
}

.column {
  flex: 1;
  background-color: #f0f0f0;
  padding: 1.25rem;
  border-radius: 0.5rem;
}

.column-2 {
  display: none;
}

.map-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: #ddd;
  position: relative;
}

.map-placeholder {
  width: 100%;
  height: 100%;
  background-color: #ccc;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.sidebar {
  padding: 2rem;
  align-self: flex-start;
}

.search-input,
.artist-select {
  width: 100%;
  padding: 0.625rem;
  border: none;
  border-bottom: 0.0625rem solid #ccc;
  outline: none;
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 1.25rem;
}

.map-container {
  height: 100vh;
  width: 100vw;
  background: #ddd;
  position: relative;
}