@import "utils.css";

.outer-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  background-color: var(--darkest-blue);
  color: var(--off-white);
}

.inner-container {
  display: flex;
  width: calc(100%);
  background-color: var(--off-white);
  border-radius: 0.75rem;
  padding: 1.25rem;
  margin-right: 1.25rem;
  color: var(--darkest-blue);
  height: calc(100vh - 2.5rem);
  margin-left: auto;
  box-sizing: border-box;
}

.left-section {}

.right-section {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: var(--off-white);
  position: relative;
}

.map-placeholder {
  width: 100%;
  height: 100%;
  background-color: var(--off-white);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 1.25rem;
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.sidebar {
  padding: 2rem;
  align-self: flex-start;

  ul {
    li {
      padding: 0.5rem;
      cursor: pointer;
      border-radius: 0.5rem;
      transition: background-color 0.2s ease-in-out;

      &:hover {
        color: var(--darkest-blue);
        background-color: var(--off-white);
      }
    }
  }
}

.map-container {
  height: 100vh;
  width: 100vw;
  background: var(--off-white);
  position: relative;
}

.search-input {
  width: 100%;
  padding: 0.625rem;
  border: none;
  border-bottom: 0.0625rem solid var(--lightest-blue);
  border-radius: 0.5rem;
  outline: none;
  font-size: 1.2rem;
  color: var(--dark-grey);
  background: var(--off-white);
  position: sticky;
  top: 0;
  z-index: 10;
  margin-bottom: 0.75rem;
}

.artist-list {
  min-width: 22rem;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 18.75rem;
  border: 1px solid var(--dark-grey);
  padding: 1rem;
  border-radius: 0.4rem;
  scrollbar-width: none;
  position: relative;
}

.artist-list::-webkit-scrollbar {
  display: none;
}

.artist-item {
  display: flex;
  align-items: center;
  margin-bottom: 0.625rem;
}

.artist-image {
  width: 3.125rem;
  height: 3.125rem;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 0.625rem;
}

.artist-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 960px) {
  .left-section {
    flex: 0.7;
  }

  .map-section {
    flex: 1.3;
  }

  .artist-list {
    border: none;
    min-width: 12rem;
  }

  .artist-title {
    display: none;
  }
}