:root {
    --darkest-blue: #03123c;
    --dark-blue: #000066;
    --light-blue: #809fff;
    --lightest-blue: #bfcfff;
    --off-white: #f8f8f8;
    --dark-grey: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', sans-serif;
}

ul {
    list-style: none;
}

.loading-message {
    font-size: 1rem;
    color: #333;
}

.loading-component {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.spinner {
    width: 50px;
    height: 50px;
    animation: rotate 1s linear infinite;
}

.spinner-circle {
    stroke: var(--light-blue);
    stroke-dasharray: 150, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 100, 200;
        stroke-dashoffset: -15px;
    }

    100% {
        stroke-dasharray: 150, 200;
        stroke-dashoffset: -125px;
    }
}